<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>ユーザー情報詳細</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'ホーム' %></li>
            <li class="breadcrumb-item active">ユーザー情報詳細</li>
        </ol>
        </div>
    </div>
  </div>
</section>
<div class="card-body">
  <p>
    <strong>名前：</strong>
    <div class="text-sm-left">
      <%= @user.name %>
    </div>
  </p>
  <p>
    <strong>住所：</strong>
    <div class="text-sm-left">
      <%= @user.address %>
    </div>
  </p>
  <p>
    <strong>電話番号：</strong>
    <div class="text-sm-left">
      <%= @user.phone %>
    </div>
  </p>
  <p>
    <strong>性別：</strong>
    <div class="text-sm-left">
      <% if @user.sex == 0 then %>男<% else %>女<% end %>
    </div>
  </p>
  <p>
    <strong>メールアドレス：</strong>
    <div class="text-sm-left">
      <%= @user.mail_address %>
    </div>
  </p>
  <p>
    <strong>メール受信：</strong>
    <div class="text-sm-left">
      <% if @user.email_permission then %>許可<% else %>許可しない<% end %>
    </div>
  </p>
</div>
<div class="card-footer">
  <%= link_to '　戻る　', users_path, class:"btn btn-secondary" %>
</div>