<section class="content">
<%= form_with(model: enterprise, local: true) do |form| %>
  <% if enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>
      <ul>
        <% enterprise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="form-group col-sm-6">
      <%= form.label :取扱企業名： %><span class="badge badge-danger">必須</span>
      <%= form.text_field :name, class:"form-control", placeholder:"企業名を入力してください" %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label :住所： %>
      <%= form.text_field :address, class:"form-control", placeholder:"住所を入力してください" %>
    </div>
    <div class="form-group col-sm-4">
      <%= form.label :電話番号： %>
      <%= form.text_field :phone, class:"form-control", placeholder:"電話番号を入力してください" %>
    </div>
  </div>
  <div class="card-footer">
    <%= form.submit "　保存　", class:"btn btn-primary" %>
  </div>
<% end %>
</section>
